nav.navbar.navbar-inverse
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(id="logo_container", href='/')
        img(id="logo", src="/img/logo_uorder.png", alt="")
        img(id="logo_o", src="/img/logo_o.png", alt="")

    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav
        if (user)
          li(class=(title === 'Tickets' ? 'active' : '') )
            a(href='/admin/tickets') Tickets
          li(class=(title === 'Dishes' ? 'active' : '') )
            a(href='/admin/dishes') Productos
          li( class=(title === 'Categories' ? 'active' : '') )
            a(href='/admin/categories') Categorias
          li(class=(title === 'Allergens' ? 'active' : '') )
            a(href='/admin/allergens') Alérgenos
          li(class=(title === 'Restaurant' ? 'active' : '') )
            a(href='/admin/restaurant') Restaurante
          li(class=(title === 'Logout' ? 'active' : '') )
            a(href='/logout') Logout
        if (!user)
          li(class=(title === 'Login' ? 'active' : '') )
            a(href='/login') Login
