.animate-show {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}
.outstock {
	text-decoration: line-through
}
.dish-info h6 {
	color: #DDA828;
	font-weight: 700;
    font-size: 16px;
}

.navbar-nav {
	float: right;
}
.navbar-nav li {
	display: inline;
	float: left;
}
.navbar-header {
	display: inline-block;
}
#navbar {
	display: inline;
}
.navbar-inverse {
	height: 64px;
}
.filter-btn {
	width: 100%
}
.restaurants-container {
	margin: 50px auto;
	text-align: center;
	max-width: 300px;
}
.img-container {

}
.img-dish {
	width: 100%;
	max-width: 400px;
	border: 1px solid silver;
	padding: 5px;
}
.back-btn {
	width: 100%;
	max-width: 400px;
}