.animate-show {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
}
.outstock {
	text-decoration: line-through
}
.dish-info h6 {
	color: #DDA828;
	font-weight: 700;
    font-size: 16px;
}