<div class="bar-name">
	<div class="container">
		<h4>Bar Manolo</h4>
	</div>
</div>
<div class="container">
	<div class="row dish-info">
		
		<div class="col-sm-6 col-sm-offset-3">
			<div class="col-sm-12 img-container">
				<img class="img-dish" src="{{dishInfo.image_url}}" alt="">
			</div>
			<div class="col-sm-6 ">	
				<h6>Nombre:</h6>
				<p>{{ dishInfo.name }}</p>
			</div>
			<div class="col-sm-6">	
				<h6>Price:</h6>
				<p>{{ dishInfo.price }}</p>
			</div>	
			<div class="col-sm-12">	
				<h6>Descripción:</h6>
				<p>{{ dishInfo.description }}</p>
			</div>	
			<div class="col-sm-12">
				<h6>Allergens:</h6>
				<ul>
					<li ng-repeat="allergen in dishInfo.allergens">
						{{ allergen }}
					</li>
				</ul>
			</div>	
			<div class="col-sm-12">
				<button class="btn btn-primary back-btn" ng-click="close()">
					menu
				</button>			
			</div>
		</div>	
	</div>
</div>
