<main>
	<div class="container">
		<div class="restaurants-container">
			<h3>Pide por uOrder!</h3>
			<label for="">¿Dónde estás?</label>
			<select ng-model="oRestaurant" class="form-control" ng-change="getMenu()">
				<option ng-repeat="restaurant in restaurants"  value="{{ restaurant }}">
					{{restaurant.name}}
				</option>
			</select>		
		</div>
		
	</div>		
</main>
<footer>
	<div class="container">
		<a href="http://www.skylabcoders.com/"><img src="img/skylab-grey.png" alt=""></a>
		<p>Created by <a href="https://twitter.com/danimzrz">Dani Muñoz</a></p>
	</div>
</footer>
<style>
	html {
		position: relative;
		min-height: 100%;
		background: url("../img/barcelona-skyline-hd.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	main {
		min-height: 500px;
	}

	footer {
	    position: absolute;
	    bottom: 0;
	    width: 100%;
	    height: 60px;
	    border-top: 1px solid silver;
	    background-color: rgba(255,255,255,0.7)
	}
	footer p {
		margin: 0;
		float: right;
		margin-top: 15px;
		font-size: 15px;
	}
	footer img {
		height: 30px;
		margin-top: 15px;
	}
	body {
		background: transparent;
	}
	footer a {
		color: #666666;
		font-weight: bold;
	}
	footer a:hover {
		color: #DDA828;
		text-decoration: none;
	}

	@media (max-width: 600px) {
		html {
			background: url("../img/barcelona-skyline.jpg");
			background-size: 100% auto;
			background-position: 0 80%;
			background-repeat: no-repeat;
		}
		.restaurants-container{
			color: black;
		}
		.restaurants-container h3{
			color: black;
		}
		footer p { 
			font-weight: normal;
			font-size: 12px;
			margin-top: 18px;
		}
		footer img {
			height: 20px;
			margin-top: 20px;
		}
	}
</style>
