<div class="col-md-3">
	<h3>Search</h3>
	<div class="form-group">
		<label for="">Category</label>
		<input ng-model="queryCategory" type="text" class="form-control" id="" placeholder="Filter by category...">
		<br>
		<label for="">Dish</label>
		<input ng-model="queryName" type="text" class="form-control" id="" placeholder="Filter by name...">
		<br>
		<label for="">Allergens:</label> 
		<div class="checkbox" ng-repeat="allergen in allergens">
			<label>
				<input type="checkbox" name="allergens" value="{{allergen.name}}">
				{{allergen.name}}
			</label>
		</div>

	</div>
</div>
<div class="col-md-8">
	<table class="table table-hover">
<!-- 		<thead>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Options</th>
			</tr>
		</thead> -->
		<tbody ng-repeat="category in menu | filter: { name : queryCategory }">
			<tr class="active">
				<td><h4>{{ category.name }}</h4></td>
				<td></td>
				<td></td>
			</tr>
			<tr ng-repeat="dish in category.dishes | filter: { name : queryName}">
				<td>{{ dish.name }}</td>
				<td>{{ dish.price }}</td>
				<td>
					<button class="btn btn-default btn-sm" type="button">
						<span class="glyphicon glyphicon-list-alt" aria-hidden="true">
						</span>
					</button>
				</td>
			</tr>		
		</tbody>
	</table>
</div>