<div class="bar-name">
	<div class="container">
		<h4>{{ restaurantName }}</h4>
	</div>
</div>
<div class="container">
	<div class="col-md-3">
		<div class="form-group">
			<label for="">Categoria</label>
	<!-- 		<input ng-model="queryCategory" type="text" class="form-control" id="" placeholder="Filter by category..."> -->
			<select name="category" id="category" class="form-control" ng-model="queryCategory">
				<option value="">Todas</option>
				<option value="{{ category.name }}" ng-repeat="category in menu">
					{{ category.name }}
				</option>
			</select>	
			<br>		
			<button class="btn btn-primary filter-btn" ng-click="showFilters = !showFilters">Filtros</button>		
<!-- 			<button class="btn btn-primary filter-btn" ng-click="showAllergens = !showAllergens">Alérgenos</button> -->
			<div ng-show="showFilters" class="animate-show">
				<br>
				<label for="">Nombre</label>
				<input ng-model="queryName" type="text" class="form-control" id="" placeholder="Filtre por nombre...">
				<br>
				<h6>Alérgenos</h6>
				<div class="checkbox" ng-repeat="allergen in allergens">
					<label>
						<input type="checkbox" name="allergens" ng-model="allergen.on" value="{{allergen.name}}">
						{{allergen.name}}
					</label>
				</div>	
			</div>	

			<div ng-show="showAllergens" class="animate-show">
			</div>

		</div>
	</div>
	<div class="col-md-8">
		<table class="table table-hover table-menu">
			<tbody ng-repeat="category in menu | filter: { name : queryCategory } | filter: containDish">
				<tr class="active">
					<td class="col0"></td>
					<td><h4>{{ category.name }}</h4></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr ng-repeat="dish in category.dishes | filter: { name : queryName} | filter: containAllergens" ng-class="{outstock: !{{ dish.stock }} }">
					<td class="col0" id="{{dish._id}}" data-name="{{dish.name}}" data-price="{{dish.price}}">
						<select ng-model="orderList[dish._id]" ng-options="selectedItem*1 as selectedItem for selectedItem in numValues" ng-show="orderList[dish._id] > 0" class="form-control" ng-change="updateList()"></select>
					</td>
					<td class="col1">{{ dish.name }}</td>
					<td class="col2">{{ dish.price }}</td>
					<td class="col3">
						<button class="btn btn-default btn-sm" type="button" ng-click="showDish(dish._id)" ng-show="{{ dish.info }}">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true">
							</span>
						</button>
					</td>
					<td class="col4">
						<button class="btn btn-default btn-sm" type="button" ng-click="addDish(dish._id)" ng-show="{{ dish.stock }}" >
							<span class="glyphicon glyphicon-plus" aria-hidden="true">
							</span>
						</button>
					</td>
				</tr>	
			</tbody>
		</table>

	</div>
	
</div>

<div class="container-confirm" ng-show="showConfirm" >
		
	<button class="btn btn-primary confirm-btn btn-block" ng-click="showList()">pedir</button>
	
</div>