extends layout

block content
  .container.theme-showcase(role='main')
    h1 Categories
    .row
      .col-md-6.col-offset-3
        form(action='/categories', method='POST', role='form')
            .form-group
              label(for='') Name
              input.form-control(type='text', name='desc', autofocus, placeholder='Add new category...')
            button.btn.btn-primary(type='submit') Add
        .jumbotron
          ul#categories.list-group
            each category,index in categories
              li.list-group-item(data-index=category._id)=category.desc
                a(class="delete", href="#") delete
