extends layout

block content
  .login-container
    h2 Register
    p.lead Welcome to uOrder!
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-primary(type='submit') SignUp
      a(href='/login')
        button.btn.btn-default(type="button") LogIn