@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900');

*{
	font-family: Lato;
}

.list-group-item a { margin-left: 10px;}
.jumbotron { margin-top: 30px;}
.navbar {
	margin: 0;
}
.drinkin-color {
	color: #DDA828;
	transition: 0.5s;
}

.navbar-inverse {
	background: #111;
	border-radius: 0;
}

.navbar-inverse .navbar-brand {
	color: white;
	font-weight: 700;
	transition: 0.5s;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-header a:hover {
    color: #DDA828;
    transition: 0.5s;
}
.navbar-inverse .navbar-header a:hover .drinkin-color {
    color: white;
    transition: 0.5s;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #DDA828;
    background-color: black;
	font-weight: 700;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: white;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary:focus {
    background-color: #DDA828;
    outline: none;
}
.login-container {
	margin: 70px auto;
	width: 200px;
	text-align: center;
}
.login-container form {
	width: 100%
}
.bar-name {
	background: #DDA828;
	margin-bottom: 20px;
	height: 50px;
}
.bar-name h4 {
	color: white;
}

#preview-image {
	background-image: url('/img/beer.jpg');
	border:1px solid grey;
	height: 300px;
	background-size: cover;
	background-position: center center;
	margin-top:10px;
}

